.App {
	text-align: center;
}

.title-container {
  margin: 2vw 2vw 1vw 2vw;
  background: #e8f9ff;
	position: relative;
	line-height: 40px;
	font-family: helvetica;
	color: black;
	font-weight: 100;
	margin-bottom: 10px;
}

.fold {
	position: absolute;
	border-style: solid;
	top: 0;
	left: 0;
	border-width: 20px 20px 0 0;
	border-color: white #d3e3e8 
}
